body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  margin: 10px 0;
}

#map {
  height: 85vh;
  width: 100%;
}

.footer {
  font-size: 12px;
  color: #555;
  margin: 5px;
}
